@import "tailwindcss" theme(static);
@import "@nuxt/ui-pro";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

ol.right-4 {
  right: auto !important;
  left: 1rem !important;
}

/* Thin scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 4px;  /* Set the width of the vertical scrollbar */
  height: 4px; /* Set the height of the horizontal scrollbar */
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: #000;  /* Light track background */
}

/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888;  /* Color of the thumb */
  border-radius: 10px; /* Rounded corners */
}

/* Change thumb color when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Darker color when hovered */
}